[Unit]
Description=Web MPD Controller
After=network.target

[Service]
SyslogIdentifier=wempd
Environment="WEMPD_LISTEN_ADDRESS=127.0.0.1"
ExecStart=/usr/bin/python3 -u wempd.py
WorkingDirectory=/home/josh/repos/wempd
Restart=on-failure

[Install]
WantedBy=multi-user.target
